body{
    margin: 0;
    padding: 0;
}
.all{
    display: flex;
    flex-direction: column;
    position: relative;
}
.head,.head2{
    width: 100%;
    height: 76px;
    background-color: #333;
    position: fixed;
    border-bottom: 2px solid  #f0bf00;
}
.legend{
    float: left;
    color: white;
    font-size:  1.75em;
    margin-top: 25px;
    margin-left: 50px;
}
.legend:hover{
    color:  #f0bf00;
}
.protfolio,.protfolio1{
    text-decoration: none;
    line-height: 24px;
    border-radius: 5px;
    /*color: #FFFFFF;*/
    padding: 13px 15px;
    margin-top: 15px;
    float:right;
    font-size: 1em;
    color: #fff;
}
.protfolio1{
    margin-right:7%;
}
.protfolio:hover{
    background-color: #f0bf00;
}
.protfolio1:hover{
    background-color: #f0bf00;
}
.head2{
    display: none;
}
@media screen and (max-width: 750px) {
    .head{
        display: none;
        border-bottom: none;
    }
    .head2{
        display: block;
        border-bottom: none;
    }
    .q1{
        width: 100%;
        height: 27px;
        position: absolute;
    }
    .img1{
        position: absolute;
        left: 80%;
        top: 20px;
    }
    .q1-1{
        width: 100%;
        height: 0px;
        overflow: hidden;
        position: relative;
        background-color: #000000;
        top: 75px;
        /*margin-top: 75px;*/
    }
    .q1-1 .protfolio{
        width: 85px;
        text-decoration: none;
        line-height: 24px;
        border-radius: 5px;
        padding: 13px 0 13px 15px;
        float:right;
        clear: both;
        font-size: 1em;
        color: #fff;
    }
    .q1-1 .protfolio1{
        width: 85px;
        line-height: 24px;
        border-radius: 5px;
        padding: 13px 0 13px 15px;
        float:right;
        margin-right: 0px;
        clear: both;
        font-size: 1em;
        color: #fff;
    }
    .q1:hover .q1-1{
        height: 255px;
        transition: all 1s linear;
    }
}
.w2{
    width: 100%;
    background: url(../img/top-bg.jpg) #0b333f no-repeat center center fixed;
    min-height: 600px;
    margin-top: -60px;
    text-align: center;
}
.w2-1{
    color: #FFFFFF;
    font-family: 'Patua One', cursive;
    font-size: 4em;
    font-weight: 400;
    margin: 180px 0 70px 0;
}
.qq{
    width: 100%;
    height: 76px;
}
.w2-1 span{
    color: #f0bf00;;
}
.w2-2{
    color: #FFFFFF;
    font-family: 'Open Sans', sans serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0.5em 0;
    text-shadow: 1px 1px 1px #333333;
}
input[type=text]{
    height: 2.9em;
    width: 50%;
    background: rgba(227, 231, 228, 1);
    font-family: 'Open Sans', sans serif;
    font-size: 1.3125em;
    border: 0;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0 !important;
}
.input2{
    font-family: 'Patua One', cursive;
    color: #fff;
    width: 185px;
    height: 2.9em;
    font-size: 1.3125em;
    padding: 0.5em;
    letter-spacing: 0.05em;
    margin: 0;
    border: 0;
    text-transform: none;
    background: #f0bf00 ;
}
.input2:hover{
    background-color: #333333;
}
.w3{
    width: 100%;
    background-image: url("../img/bg1.jpg");
}
.p1,.p2,.p3{
    font-family: 'Patua One', cursive;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1.35;
    color: #fff;
    margin-top: 130px;
    text-align: center;
}
.p2{
    margin-top: 0px;
}
.p3{
    margin-top: 0;
    margin-bottom: 122px;
}
.w4{
    width: 100%;
    background-image: url("../img/bg2.jpg");
}
.tu1{
    text-align: center;
    margin-top: 100px;
}
.w5{
    width: 100%;
    background-image: url("../img/bg2.jpg");
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}
.w5-1{
    width: 30%;
    height: auto;
}
.w5-2{
    height: auto;
    width: 30%;
}
.w5-3{
    width: 30%;
    height: auto;
}
.img2{
    width: 100%;
    height: auto;
}
.w5-11{
    font-size: 1.3125em;
    line-height: 1.1429;
    font-weight: normal;
    font-family: 'Patua One', cursive;
    margin: 10px 0;
}
.w5-12{
    color: #312A1E;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}
.w5-13{
    color: #f0bf00;
    font-size: .875em;
    margin-top: 1.5em;
    font-family: 'Patua One', cursive;
    padding-bottom: 45px;
}
.w5-13:hover{
    text-decoration: underline;
}
@media screen and (max-width: 750px) {
   .w5{
       flex-direction: column;
   }
    .w5-1,.w5-2,.w5-3{
        width: 100%;
        padding: 0 50px;
    }
}
.w6{
    width: 100%;
    background-image: url("../img/bg2.jpg");
    border-bottom: 1px solid white;
}
.w6-11{
    width: 20%;
    height: auto;
    background-color: #e9e9e9;
    text-align: center;
    padding-top: 30px;
}
.w6-12{
    width: 20%;
    height: auto;
    background-color: #e9e9e9;
    text-align: center;
    padding-top: 30px;
}
.w6-13{
    width: 20%;
    height: auto;
    background-color: #e9e9e9;
    text-align: center;
    padding-top: 30px;
}
.w6-11:hover{
    background-color: #dfdfdf;
    box-shadow: 3px 3px 10px 3px  #000000;
}
.w6-12:hover{
    background-color: #dfdfdf;
    box-shadow: 3px 3px 10px 3px  #000000;
}
.w6-13:hover{
    background-color: #dfdfdf;
    box-shadow: 3px 3px 10px 3px  #000000;
}
.w6-14:hover{
    background-color: #dfdfdf;
    box-shadow: 3px 3px 10px 3px  #000000;
}
.w6-14{
    width: 20%;
    height: auto;
    background-color: #e9e9e9;
    text-align: center;
    padding-top: 30px;
}
.w6-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 170px;
    margin-top: 50px;
}
.e1{
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    line-height: 1.1429;
    font-weight: normal;
    font-family: 'Patua One', cursive;
}
.e2{
    margin: 10px;
    font-size: 1em;
    line-height: 1.5;
    color: #312A1E;
    font-family: 'Quattrocento', serif;
}
@media screen and (max-width: 750px) {
    .w6{
        flex-direction: column;
    }
    .w6-11,.w6-12,.w6-13,.w6-14{
        width: 100%;
        padding: 0 50px;
    }
    .img3{
        max-width: 80px;
    }
}
.w7{
    width: 100%;
    height: 650px;
    line-height: 650px;
    vertical-align: middle;
    padding-top: 200px;
    background-image: url("../img/bg3.jpg");
}
.w7-1{

    font-size: 45px;
    line-height: 50px;
    text-align: left;
    font-family: 'Patua One', cursive;
    font-weight: bold;
    color: #312A1E;
    margin: 0 0 1.5em 0;
}
.w7-1 span{
    line-height: 20px;
    min-height: 1px;
    margin-left: 30px;
    font-family: 'Quattrocento', serif;
}
@media screen and (max-width: 750px) {
    .w7 {
        display: none;
    }
}
.w8{
    width: 100%;
    background-color: #f0f0f0;
}
.tu11{
    text-align: center;
}
.w8-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}
.img4{
    width: 100%;
    height: auto;
}
.w8-11{
    width: 30%;
    height: auto;
    background-color: white;
    border: 1px solid #cdcdca;
    border-radius: 5px;
}
.w8-12{
    width: 30%;
    height: auto;
    background-color: white;
    border: 1px solid #cdcdca;
}
.w8-13{
    width: 30%;
    height: auto;
    background-color: white;
    border: 1px solid #cdcdca;
}
.date{
    color: #A5A5A2;
    float: right;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    line-height: 2;
    margin: 30px 0 1.5em 30px;
}
.e3{
    font-family: 'Patua One', cursive;
    font-size: 21px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #312A1E;
    clear: right;
}
.e4{
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 1.5em 0;
    color: #312A1E;
    font-family: 'Quattrocento', serif;
}
.e5{
    color: #f0bf00;
    line-height: 20px;
    font-size: .875em;
    margin-top: 1.5em;
    margin-bottom: 25px;
    font-family: 'Patua One', cursive;
}
.e5:hover{
    text-decoration: underline;
}
.w8-2{
    color: #fff;
    font-family: 'Patua One', cursive;
    width: 185px;
    height: 20px;
    text-shadow: none;
    font-size: 1.3125em;
    padding: 1em 0.5em;
    letter-spacing: 0.05em;
    margin: 4.5em auto 0;
    margin-bottom: 100px;
    display: block;
    border: 0;
    text-transform: none;
    background: #f0bf00 ;
}
.w8-2:hover{
    background-color:#000000 ;
}
@media screen and (max-width: 750px){
    .w8-1{
        flex-direction: column;
        margin-left: 25px;
    }
    .w8-11{
        width: 100%;
    }
    .w8-12{
        width: 100%;
    }
    .w8-13{
        width: 100%;
    }
    .img4{
        max-width: 400px;
    }
   .e3,.e4,.e5{
       margin-left: 20px;
   }
}
.w9{
    width: 100%;
    background-color: #312b1f;
}
.w9-1{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    margin-bottom: 120px;
}
.w9-11{
    width: 15%;
}
.q11{
    text-align: center;
    font-size: 26px;
    margin-top: 24px;
    line-height: 1.3333;
    font-family: 'Patua One', cursive;
}
.q12{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: .46155em;
    text-align: center;
    color: #e4e5e2;
}
.img5{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
@media screen and (max-width: 750px){
    .w9-1{
        flex-direction: column;
       width: 100%;
    }
    .w9-11{
        width: 100%;
        text-align: center;
    }
    .img5{
        text-align: center;
        max-width: 150px;
    }
}
.w9-21{
    margin-bottom: 24px;
    font-size: 1.3125em;
    line-height: 1.1429;
    margin-top: 1.1429em;
    font-family: 'Patua One', cursive;
    text-align: center;
}
.w9-21 span{
    color: #A5A5A2;
    font-family: 'Quattrocento', serif;
}
.w9-22{
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 1.5em 0;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    color: #e4e5e2;
}
.w9-23{
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 1.5em 0;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 40px;
    text-align: center;
    color: #e4e5e2;
}
.w9-3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
}
.w9-31{
    width: 570px !important;
    margin-left: 30px;
    height: 53px !important;
}
.w9-32{
    width: 570px !important;
    height: 53px !important;
    margin-right: 30px;
}
.w9-33{
   width: 1205px !important;
    height: 226px!important;
    margin-left: 20px;

}
.w9-4{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}
@media screen and (max-width: 750px){
  .q9-3{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 22px;
  }

    .w9-31{
        width: 100% !important;
        margin-left: 5px;
        margin-top: 22px;
        height: 53px !important;
    }
    .w9-32{
        width: 100% !important;
        margin-left: 5px;
        margin-top: 22px;
        height: 53px !important;
    }
    .w9-33{
        width: 100% !important;
        margin-left: 5px;
        margin-top: 22px;
        height: 224px !important;

    }

}
.w9-51{
    font-family: 'Patua One', cursive;
    color: #fff;
    width: 185px;
    height: 60px;
    font-size: 1.3125em;
    padding: 0.5em;
    letter-spacing: 0.05em;
   margin-left: 20px;
    margin-top: 30px;
    background: #f0bf00 !important;
}
.w9-51:hover{
    background-color: #000000 !important;
}